{% extends 'base.html' %}

{% block content %}


<h1>join with code </h1>

enter code here

<input  placeholder="XYZ123"  type="text">
<button>enter</button>
<br>
<hr>
<hr>

<button>start new game</button>

-- generating code -- 

your code is XYZ123


share this code and waiting for others to join 

minimum 3 payers required



lakshay hs joined 

sethi has joined 


<button>Continue</button>

<!-- when they click the continue button they will be redirected to the page with the blank new game screen -->


<style>
    .hexagon,.available-objects{
       min-height: 800px;
        border: solid black 2px;
    }
</style>

<div class="catan-game container">
<div class="row">

    <div class="available-objects col-2">
        {% for dropable in imageObjects%}
        <div class="dropable">
            <img src="{{dropable.image.url}}" alt="{{dropable.name}}">
            <small>{{dropable.name}}</small>
        </div>
        
        
        {% endfor %}
    </div>
    
    
    <div class="hexagon col-10">
        
        
    </div>
</div>





</div>

{% endblock%}
    